<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slliver.base.dao.UserChannelMapper">
    <resultMap id="BaseResultMap" type="com.slliver.base.entity.UserChannel">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" jdbcType="CHAR" property="pkid" />
        <result column="user_pkid" jdbcType="CHAR" property="userPkid" />
        <result column="channel_pkid" jdbcType="CHAR" property="channelPkid" />
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="flag_sort" jdbcType="SMALLINT" property="flagSort" />
        <result column="flag_delete" jdbcType="SMALLINT" property="flagDelete" />
        <result column="flag_version" jdbcType="BIGINT" property="flagVersion" />
        <result column="make_time" jdbcType="TIMESTAMP" property="makeTime" />
        <result column="make_user" jdbcType="CHAR" property="makeUser" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
</mapper>