<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slliver.dao.ApiChannelMapper">
    <resultMap type="com.slliver.entity.ApiChannel" id="channelMap" extends="com.slliver.base.dao.ChannelMapper.BaseResultMap">

    </resultMap>

    <select id="selectListByPage" parameterType="com.slliver.base.domain.BaseSearchCondition" resultMap="channelMap">
        SELECT * from channel c WHERE flag_delete = 0
        <if test="code !=null and code !=''">
            and c.code like concat("%", #{code}, "%")
        </if>
        <if test="name !=null and name !=''">
            and c.name like concat("%", #{name}, "%")
        </if>
        ORDER by c.modify_time DESC
    </select>

    <select id="selectListByUserPkid" parameterType="map" resultMap="channelMap">
        SELECT
            c.pkid,
            c.`code`,
            c.charge_user,
            c.phone,
            c.make_time,
            CASE
        WHEN (
            SELECT
                COUNT(1)
            FROM
                user_channel uc
            WHERE
                uc.flag_delete = 0
            AND uc.channel_pkid = c.pkid
            AND uc.user_pkid = #{userPkid}
        ) > 0 THEN
            '1'
        ELSE
            '0'
        END AS checked
        FROM
            channel c
        WHERE
            c.flag_delete = 0
        ORDER BY
            c.make_time
    </select>
</mapper>