<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slliver.dao.ApiCreditCardMapper">
    <resultMap type="com.slliver.entity.ApiCreditCard" id="creditCardMap" extends="com.slliver.base.dao.CreditCardMapper.BaseResultMap">
        <result column="http_url" property="httpUrl" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectListByPage" parameterType="com.slliver.base.domain.BaseSearchCondition" resultMap="creditCardMap">
        SELECT
            l.pkid,
            l.logo_pkid,
            l.bank_name,
            l.card_name,
            l.bank_des,
            l.label,
            l.url,
            l.bank_des,
            l.banner_pkid,
            r.url AS http_url,
            l.device,
            l.priority
        FROM
            credit_card l
        LEFT JOIN resource r ON l.logo_pkid = r.pkid
        where 1= 1
        <if test="device !=null and device !=''">
            and l.device = #{device}
        </if>
        ORDER BY
          l.priority,l.make_time
    </select>

</mapper>