<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slliver.dao.ApiLoanDetailMapper">
    <resultMap type="com.slliver.entity.ApiLoanDetail" id="loanDetailMap"
               extends="com.slliver.base.dao.LoanDetailMapper.BaseResultMap">
    </resultMap>
    <delete id="deleteBatch">
        DELETE FROM loan_detail where loan_pkid = #{loanPkid}
    </delete>
</mapper>